@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  body {
    @apply md:p-4 p-2 bg-white text-gray-700;
  }
}

@layer components {
  /* custom css start  */
  .bg-gradient-cover {
    background-color: transparent;
      background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,0.92));
      background-image: linear-gradient(transparent,rgba(0,0,0,0.92));
      background-position-y: -1px;
  }
  .max-h-98 {
    max-height: 24.3rem;
}
.box-one > article:nth-child(1) { 
	padding-top: 0;
	padding-bottom: 0.125rem;
	padding-right: 0.125rem;
}
.box-one > article:nth-child(2) {
	padding-top: 0;
	padding-bottom: 0.125rem;
	padding-left: 0.125rem;
}
.box-one > article:nth-child(3) {
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	padding-right: 0.125rem;
}
.box-one > article:nth-child(4) {
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	padding-left: 0.125rem;
}
.hover-img:hover img {
	-webkit-filter: brightness(103%) contrast(103%);
    filter: brightness(103%) contrast(103%);
    opacity:.99;
}
 /* custom css end  */
  section {
    @apply mx-auto;
  }
  section > div {
    @apply p-2 rounded-lg;
  }
  h3 {
    @apply font-bold text-2xl;
  }
  p {
    @apply mt-4 opacity-70;
  }
  .violet {
    @apply bg-neutral-100 text-neutral-800;
  }
  .gray {
    @apply bg-neutral-500 text-white;
  }
  .white, .white-long {
    @apply bg-neutral-100;
  }
  .dark {
    @apply bg-gray-50 text-neutral-800;
  }
}

